body {
  background-color: #100425;
}

.profile-pic {
  position: absolute;
  left: 730px;
  top: 185.33px;
  width: 600.67px;
}

.pattern {
  position: absolute;
  left: 760.31px;
  top: 731.22px;
  width: 669.73px;
  height: 737.31px;
}